:root{
    --addPlant-font-size: calc(0.7em + 1vh);
}
/* Global variables */
#overlay {
    position: fixed;
/*    display: none;*/
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;
    font-size: var(--addPlant-font-size);
/*    cursor: pointer;*/
}
/*
.centerdiv{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    word-wrap: break-word;
}
*/
input[type="text"] {
    --font-size: calc(inherit)*0.9;
    font-size: var(--font-size);
    height: var(--font-size);
}
.height-full{

}
.border{
    border: 1px solid black;
}
.border-nice{
    border: 1px solid var(--color-black);
    border-radius: 4px;
}
#box{
    position: absolute;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    color: var(--color-black);
    transform: translate(-50%,-50%);
/*    -ms-transform: translate(-50%,-50%);*/
/*
    display: flex;
    justify-content: center;
    align-content: center;
*/
/*    margin: auto;*/
/*
    padding: 3%;
    margin-left: 5%;
    margin-right: 5%;
*/
    width: 80%;
/*    max height and max width will need to be changed later*/
    max-width: 1000px;
    max-height: 550px;
/*    height: 75%;*/
/*    padding: 2%;*/
    padding: .5rem 1rem;
    background-color: var(--color-white);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    box-shadow: 0 1px 40px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.2) inset;
/*    display: grid;*/
/*    grid-template-rows: 1fr 1fr 2fr 2fr 2fr 1fr;*/
/*    grid-template-columns: repeat(3, 1fr) 0.5fr 0.5fr 1fr;*/
/*    grid-gap: 2px;*/
}

.image{
    max-height: 100%;
    max-width: 100%;
    color: white;
}
.image:hover{
    cursor: pointer;
	filter: saturate(0) opacity(0.6) brightness(3);
}
.form-control{
    height: 60%;
}
.formgroup{
    display: flex:
    flex-flow: row;
}
.formtext{
    flex: 2;
    padding-right: 2%;
}
.forminput{
    flex: 6;
/*    padding: 2%;*/
}
.forminput-small{
    flex: 4;
    margin-left: 3%;
}
.formtext-small{
    flex: 1;
}
.binary-form{
  margin-left: 3%;
}

.weekDays-selector{
/*    height: 100%;*/
    width: 100%;
}
.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
/*    background: #dddddd;*/
    background: var(--color-silver);
    color: var(--color-black);
    filter: opacity(0.4);
    height: 80%;
    width: 13%;
    margin-right: 1%;
    line-height: calc(var(--addPlant-font-size)*1.8);
    font-size: calc(var(--addPlant-font-size)*0.7);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.weekDays-selector input[type=checkbox] + label:hover{
    background: var(--color-silver);
    filter: opacity(1);
}
.weekDays-selector input[type=checkbox]:checked + label {
    background: var(--color-green);
    color: var(--color-white);
    filter: opacity(1);
}
.g-radio-button{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    font-size: calc(var(--addPlant-font-size)*0.6);
}
.small-font{
    font-size: calc(var(--addPlant-font-size)*0.7);
}
input[type=radio]{
    transition: 0.3s;
}
.g-big-button{
    height: 100%;
    width: 60%;
}
.margin-right{
    margin-right: 10px;
}

.modal-body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr) 0.5fr 0.5fr 1fr;
    grid-gap: 2px;
}
.label-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 950px) {
    :root{
    --addPlant-font-size: calc(0.6em + 1vh);
}
}

@media (max-width: 800px) {
    :root{
    --addPlant-font-size: calc(0.5em + 1vh);
}
}
