/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
/*    height: 100%;*/
/* 	background-repeat: no-repeat;*/
 	background-color: var(--color-lightest-gray);
/* 	font-family: 'Oxygen', sans-serif;*/
}

.login-pad-top{
    padding-top: 2%;
}
.required-label:after {
    content:"*";
    margin-left: 5px;
    color: var(--red);
}

.hidden {
	display: none;
}
/*
html {
	display: flex;
	min-height: 100vh;
    background: var(--color-lightest-gray);
}

body {
	margin: auto;
}

#login-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 1px 40px rgba(95, 95, 95, 0.47), 0 0 30px rgba(255, 255, 255, 0.2) inset;

}
.login-center{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#login-content{
    margin: 20%;
}
#logo{
    background: var(--green);
    color: var(--white);
    padding: 10%;
    font-size: 2em;
}
#form-content{
    padding: 10%;
}*/
