nav{
/*
    position: fixed;
    top: 0;
    bottom: 0;
*/
    width: 100vw;
}

/*
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
*/

