:root{
    --navbar-font-size: 1.5em;
    --navbar-font-color: hsla(0, 0%, 100%, 0.87);
    --navbar-background-color: var(--green);
}
.navbar{
    font-size: var(--navbar-font-size);
    background-color: var(--navbar-background-color) !important;
/*    width: 100vw;*/
}
/*
.navbar * {
    color: var(--navbar-font-color);
}
*/
.navbar-dark .navbar-nav .nav-link {
    color: var(--navbar-font-color);
}
.navbar-brand{
    font-size: var(--navbar-font-size);
}
.dropdown-item{
    font-size: calc(var(--navbar-font-size)*0.8);
}
/*
.navbar-nav{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
}
*/
/*
.navbar-centerize {
   display: inline-block;
   text-align:center; 
}
*/
.navbar-green{
    color: var(--navbar-font-color);
}
.navbar-toggler{
    color: inherit;
}
.navbar-brand{
    color: inherit;
}
