:root{
    --plantprofile-font-size: 1em;
    --plantprofile-font-weight: 400;
}
#breadcrumb, #plantprofilecontent{
    font-size: var(--plantprofile-font-size);
    font-weight: var(--plantprofile-font-weight);
}
#breadcrumb {
    margin-top: 1%;
    margin-left: 1%;
}
input[type="text"]{
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-align: center;
}

img{
    max-width: 70%;
    border-radius: 0.3em;
}
.g-big-button{
    height: 100%;
    width: 60%;
}
div{
    text-align: justify;
    text-justify: inter-word;
}
.g-display-none{
    display: none;
}
.font-big{
    font-size: calc(var(--plantprofile-font-size) *2);
    font-weight: calc(var(--plantprofile-font-weight) *1.5);
}
.g-small-text{
    font-size: calc(var(--plantprofile-font-size) * 0.4);
    font-weight: calc(var(--plantprofile-font-weight));
}
.weekDays-selector{
/*    height: 100%;*/
    width: 100%;
}
.weekDays-selector input {
  display: none!important;
}
.weekday-div, .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
/*    height: 80%;*/
    height: calc(var(--plantprofile-font-size)*2);
    width: 13%;
    margin-right: 1%;
    line-height: calc(var(--plantprofile-font-size)*1.8);
    font-size: calc(var(--plantprofile-font-size)*1.2);
    text-align: center;
    margin: 1px;
}
.weekDays-selector input[type=checkbox] + label:hover{
    background: var(--color-silver);
    filter: opacity(1);
}
.g-radio-button{
    font-size: calc(var(--plantprofile-font-size)*0.8);
}
.weekDays-selector input[type=checkbox] + label {
    background: var(--color-silver);
    color: var(--color-black);
    filter: opacity(0.4);
    cursor: pointer;
    transition: 0.3s;
}
.weekday-unselect{
    background: var(--color-silver);
    color: var(--color-black);
    filter: opacity(0.4);
}
.weekday-select{
    background: var(--color-green);
    color: var(--color-white);
}
.weekDays-selector input[type=checkbox]:checked + label {
    background: var(--color-green);
    color: var(--color-white);
    filter: opacity(1);
}
.row{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.small-input{
    width: 70%;
}

.label-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*ask farnaz if i should have this*/
.g-min-max-width{
    min-width: 450px;
/*    max-width: 600px;*/
}