:root{
    --font-size-search: 1em;
}
.body-align{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.search-big-font{
    font-size: calc(var(--font-size-search)*1.5);
}
.vertical-wrapper{
    flex: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row;
/*    grid-template-columns: 1fr 2fr;*/
}

#search_filter_container{
    height: 92vh;
    -flex: 3;
    -max-width: 300px;
    -display: flex;
    -flex-flow: column;
    -position: relative;
    -padding: .5rem 1rem;
    background: var(--color-lightest-gray);
    -border: 2px solid #00000012;
    -flex-wrap: wrap;
    -align-items: flex-start;
    -justify-content: center;
    color: hsl(85, 3%, 39%);
    font-size: var(--font-size-search);
    position: fixed;

}

#content{
   flex: 9;
}

.g-center{
    align-self: center;
}

.g-divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 15px 0;
  overflow: hidden;
  background-color: #d4d4d4;
}

.g-filter{
    padding: 2%;
    cursor: pointer;
}

.g-filter:hover{
  -background-color: #6c757d
}

.g-indent{
    margin-left: 12%;
    margin-bottom: 2%;
}

#search_term {
  -width: 80%;
}

#search_filter_container form{
  width: 80%;
}

#search_filter_container .label-text{

}
